name: Data Engineering CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      # 3️⃣ Install Python dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # 4️⃣ Python syntax check
      - name: Python syntax validation
        run: |
          python -m compileall src

      # 5️⃣ Docker login
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 6️⃣ Build Docker image
      - name: Build Docker image
        run: |
    	docker build --no-cache -f docker/Dockerfile -t de-project:ci .

      # 7️⃣ (Optional) Push image to Docker Hub
      - name: Push Docker image
        run: |
          docker tag de-project:ci ${{ secrets.DOCKER_USERNAME }}/de-project:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/de-project:latest
